<div class="containerFooter">
    <a class="buttonFooter" href="http://localhost:8080/api/products/form">Add product</a>
    <a class="buttonFooter" href="http://localhost:8080/api/products">See products</a>
</div>
