{{> navbar}}
{{#each products}}
    <div class="containerProd">
        <h3 class="titleProd">{{this.title}}</h3>
        <p class="priceProd">$ {{this.price}}</p>
        <img class="imgProd" src="{{this.thumbnail}}" alt="img product">
    </div>
{{/each}}
{{> footer}}